@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display:400|DM+Sans:400,700");
@font-face {
  font-family: "Droid Sans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("static/fonts/DroidSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Droid Sans-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("static/fonts/DroidSans-Bold.ttf") format("truetype");
}

/* The following line is used to measure usage of this code in production. For more info see our usage billing page */
@import url("https://px.animaapp.com/61e267c33aad30f0356fe5e9.61e267c63ace7e6144793249.Sd8WlTM.rcp.png");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
