.troubleshoot-product-requirements {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1196px;
  min-width: 600px;
}

.overlap-group1 {
  align-items: center;
  background-color: var(--pattens-blue);
  display: flex;
  flex-direction: column;
  margin-left: 162px;
  min-height: 1196px;
  padding: 44px 20px;
  width: 438px;
}

.overlap-group2 {
  height: 92px;
  margin-right: 32.0px;
  position: relative;
  width: 366px;
}

.what-can-we-help-you-with {
  height: 91px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 366px;
}

.graph-tabs {
  align-items: flex-start;
  display: flex;
  height: 13px;
  left: 0;
  min-width: 299px;
  position: absolute;
  top: 79px;
}

.product-requirements {
  height: 13px;
  letter-spacing: 0;
  width: 103px;
}

.overlap-group {
  height: 13px;
  margin-left: 3px;
  position: relative;
  width: 187px;
}

.api-integration {
  height: 13px;
  left: 78px;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 109px;
}

.abr-edge-cases {
  height: 13px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  width: 115px;
}

.understanding-compan {
  height: 19px;
  letter-spacing: 0;
  margin-right: 32.0px;
  margin-top: 19px;
  width: 366px;
}

.companys-automated {
  height: 24px;
  letter-spacing: 0;
  margin-right: 32.0px;
  margin-top: 12px;
  width: 366px;
}

.resolution-the-dent {
  height: 182px;
  letter-spacing: 0;
  margin-right: 32.0px;
  margin-top: 20px;
  width: 366px;
}

.line-8 {
  align-self: flex-start;
  height: 1px;
  margin-left: 1px;
  margin-top: 20px;
  width: 368px;
}

.example-cases {
  align-self: flex-start;
  height: 19px;
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 22px;
  width: 366px;
}

.flex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 29.0px;
  margin-top: 23px;
  min-width: 339px;
}

.rectangle-4 {
  background-color: var(--mist-gray);
  height: 102px;
  width: 146px;
}

.this-arch-is-a-good,
.this-arch-is-also-an,
.this-is-an-example-o,
.since-this-has-a-hol {
  height: 102px;
  letter-spacing: 0;
  margin-left: 20px;
  width: 173px;
}

.flex-row {
  align-items: flex-start;
  display: flex;
  margin-right: 29.0px;
  margin-top: 14px;
  min-width: 339px;
}

.flex-row-2 {
  align-items: flex-start;
  display: flex;
  margin-right: 29.0px;
  margin-top: 13px;
  min-width: 339px;
}

